<!DOCTYPE HTML>
<html>
<head>
  <title>Ejemplo de Notas simples en Backbone</title>
  <!-- stylesheet -->
  <link href="css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <!-- Javascript -->
  <script type="text/javascript" src="js/libs/jquery.min.js"></script>
  <script type="text/javascript" src="js/libs/underscore.min.js"></script>
  <script type="text/javascript" src="js/libs/backbone.min.js"></script>
  <!-- Backbone -->
  <script type="text/javascript" src="js/note_router.js"></script>
  <script type="text/javascript" src="js/models/note_model.js"></script>
  <script type="text/javascript" src="js/views/note_index.js"></script>
  <script type="text/javascript" src="js/views/note_row.js"></script>
  <script type="text/javascript" src="js/views/note_new.js"></script>
  <script type="text/javascript" src="js/views/note_edit.js"></script>
  <script type="text/javascript" src="js/views/note_show.js"></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Backbone.js Aplicación de notas</h1>
    </div>

    <p class="lead">
      Es simple el funcionamiento, no necesita comunicarse con el servidor, somo muestra información y escucha eventos
    </p>

    <div class="row">
      <div class="span6" id="primary-content">
        <!-- index-->
      </div>
      <div class="span6">
          <!-- collection -->
          <code id="output" style="display:block;white-space:pre-wrap;"></code>
      </div>
    </div>

  </div>
  <!-- the form, used for create and edit -->
  <script type="text/jst" id="formTemplate">
    <div class="well">
      <div class="alert alert-error" style="display:none;"></div>
      <form>
        <h2 class="form-signin-heading"></h2>
        <div class="control-group">
          <input type="text" class="input-block-level" name="title" placeholder="Titulo" value="<%= title %>" />
        </div>
        <div class="control-group">
          <input type="text" class="input-block-level" name="author" placeholder="Autor" value="<%= author %>" />
        </div>
        <div class="control-group">
          <textarea class="input-block-level" rows="5" name="description" placeholder="Descripcion"><%= description %></textarea>
        </div>
        <div class="form-actions">
          <button class="save btn btn-large btn-info" type="submit">Guardar</button> o
          <a href="#notes/index" class="btn btn-large">Cancelar</a>
        </div>
      </form>
    </div>
  </script>
  <!-- index container -->
  <script type="text/template" id="indexTemplate">
    <div class="well">
      <a class="btn btn-block btn-large btn-info" href="#note/new">Crear nota</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="20%">Título</th>
          <th width="20%">Autor</th>
          <th>Descripcion</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>
  <!-- Row Template -->
  <script type="text/template" id="rowTemplate">
    <td>
      <a href="#note/<%= id %>/view"><%= title %></a>
    </td>
    <td><%= author %></td>
    <td><% print(description.substring(0, 100)) %>...</td>
    <td>
      <a href="#" class="delete btn btn-danger btn-small">Borrar</a>
    </td>
  </script>
  <!-- the show template -->
  <script type="text/template" id="showTemplate">
    <div class="well">
      <a class="btn btn-large" href="#notes/index">
        Al índice
      </a>
      <a class="btn btn-large btn-info" href="#note/<%= id %>/edit">
        Editar nota
      </a>
    </div>
    <h2>
      <%= title %>
      <small>by: <%= author %></small>
    </h2>
    <p style="white-space:pre-wrap;"><%= description %></p>
  </script>

  <script type="text/javascript">
    var notes = new APP.Collections.NoteCollection();
    var router = new APP.Routers.NoteRouter({notes: notes});

    Backbone.history.start();
    // we manually pass in the initial data, but this would be called with a collection.fetch() normally
    notes.reset([
                  {
                    "title": "Primera nota",
                    "id": "12",
                    "author": "Carlos Zelaya",
                    "description": "Pequeña Descripcion acorde al block de notas"
                  },
                  {
                    "title": "Segunda nota",
                    "id": "48",
                    "author": "Miguel Rosales",
                    "description": "Puede ser un texto regular o tambien textos pequeños"
                  },

                ]
              );
  </script>
</body>
</html>
